.connexion {
    margin-top: 7em;
    color: $color-white;
    // display: flex;// align-content: center;
    // align-items: center;
    // justify-content: center;
    // height: 100%;

    &__content {
        padding: 1em;
        text-align: center;

        &__title {
            font-size: 1.2em;
        }

        &__form {
            margin-top: 4em;


            &__submit {
                &__button {
                    width: 8em;
                    border-radius: 10px;
                    color: $color-dark;
                    font-weight: bold;
                    height: 2.5em;
                }
            }

            &__formgroup {

                &__id {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    margin-bottom: 3em;
                    flex-direction: column;

                    & input {
                        width: 19em;
                        font-weight: bold;
                        height: 2em;
                        border-radius: 10px;
                        font-size: 1em;
                        margin: 1em auto 0 auto;
                        text-align: center;
                        transition-duration: 1.5s;
                    }

                    & input:focus {
                        border: 2px solid $color-red;
                    }

                    & label {
                        width: 15em;
                        margin: 0 auto;
                        font-weight: bold;
                    }
                }

                &__password {
                    margin-bottom: 1.5em;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;

                    & label {
                        font-weight: bold;
                    }

                    &__content {
                        & input {
                            margin-top: 1em;
                            width: 19em;
                            font-weight: bold;
                            height: 2em;
                            font-size: 1em;
                            border-radius: 10px;
                            text-align: center;
                            transition-duration: 1.5s;
                        }

                        & input:focus {
                            border: 2px solid $color-red;
                        }


                        &__toggle {
                            position: relative;
                            display: block;
                            bottom: 1.6em;
                            left: 8.5em;
                            color: $color-dark;
                            width: 2em;
                            margin: auto;
                        }

                        width: 100%;

                    }
                }
            }

            &__error {
                margin-top: 1em;
                color: $color-red;
            }
        }

        &__message {
            margin-top: 4em;
        }
    }
}