.home {
    // margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90vh;
    padding-top: 3.5em;

    // align-content: center;
    &__links {
        &__link {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

        }

        & a {
            color: $color-white;
            height: 2em;
            width: 10em;
            margin: 1em;
            border: 3px solid $color-red;
            border-radius: 50px;
            padding: 0.5em;
            text-align: center;
            line-height: 1.8em;
            text-transform: uppercase;
        }

    }

}