.navigation {
    // background: url('../../ressources/images/app-background.jpg');
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    background-color: $color-dark;
    // min-height: 100vh;
    max-width: 100%;
    color: $color-white;
    // height: 100vh;
    overflow: hidden;

    &__header {
        background-color: $color-dark;
        height: 6vh;
        min-height: 3em;
        text-align: center;
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        width: 100%;
        border-bottom: 4px solid $color-red;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        z-index: 10;

        &__title {
            color: $color-white;
            display: flex;
            justify-content: space-around;
            width: 15em;
            padding-top: 0.5em;

            & span {
                line-height: 2.7em;
                font-family: 'Orbitron', sans-serif;
            }
        }
    }

    &__content {
        height: 100%;
    }
}