.video {
    padding-top: 3.5em;
    color: $color-white;
    overflow: scroll;
    height: 100%;

    &__loader {
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {

        &__display {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-bottom: 4em;
        }

        &__video-info {
            width: 20em;
            height: 16em;
            margin: 1em;
            border: 1px solid $color-white;
            display: flex;
            color: $color-white;

            &__img {
                width: 10em;
            }

            &__text {
                text-align: center;
                padding: 0.5em;
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;

                &__title {
                    display: block;
                    margin: auto;
                }

                &__overview {
                    font-size: 0.7em;
                }

                &__vote {
                    font-size: 0.7em;
                    display: block;
                    margin: 0 auto;
                }
            }
        }

    }

    &__player {
        // display: flex;// justify-content: center;
        text-align: center;
        color: $color-white;
        // position: fixed;
        // bottom: 0;
        // left: 0;
        width: 100%;
        // background-color: $color-red;
        padding-bottom: 1em;

        &__iframe {
            width: 100%;
            // height: 20em;
            margin: 2em auto;
        }

        &__title {}
    }

    &__searchbar {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5em;

        &__opacity {
            background-color: $color-dark;
            width: 100%;
            height: 100%;
            opacity: 0.7;
        }

        &__content {
            position: relative;
            bottom: 2.5em;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            &__delete {
                position: relative;
                right: 2em;
                border: none;
                // height: 1em;
            }

            & input {
                height: 1.5em;
                border-radius: 5px;
                border: none;
                text-align: center;
                font-weight: bold;
                width: 15em;
            }

        }
    }

    // &__searchbar-opacity {
    //     content: '';
    //     width: 100%;
    //     height: 2.5em;
    //     background-color: $color-red;
    //     opacity: 0.5;
    //     z-index: 2;

    // }

    // &__searchbar-content {
    //     position: a;
    //     bottom: 2em;
    //     width: 100%;
    //     height: 2.5em;
    //     // opacity: 0.5;
    //     z-index: 2;
    // }
}